header{
    background-color: #4ea0ff;
    background-image: url("../img/pattern.png");
    background-size: 23%;
}

.logo{
    width: 10%;
    padding-top: 1rem;
}

.title {
    display: inline;
}

.gray{
    color: #868686;
    display: inline;
}

.gray_date{
    color: #868686;
    margin-top: 0;
}

.blue {
    color: #49b9ea;
    display: inline;    
}

span{
    font-size: 12px;
}

ul {
    padding-left: 1rem;
}

table{
    border-spacing: 0px;
}

thead{
    background-color: #20a9e5;
}

.table_raw_2{
    background-color: #b1e5f2;
}

.table_raw_4{
    background-color: #b1e5f2;
}

.articolo_monitor {
    color: #ffffff;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 9rem;
    background-image: url("../img/monitor.jpg");
    background-repeat: no-repeat;
}

.articolo_grafici {
    color: #ffffff;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 9rem;
    background-image: url("../img/graph.jpg");
    background-repeat: no-repeat;
}

/* 1-nelle immagini di articolo grafici e monitor è scorretto mettere dimensioni assolute in pixel ?
Se si chiedere info e capire come andava fatto.

2-Capire come si mettevano le scritte di colori diversi acanto con gli h4/h6 etcc --> si poteva usare div e span per semplificare il tutto.

3-Capire come mettere il banner completo left right e bottom ha a che vedere con padding margin o cosa ?

4-Come distanziare le caselle della tabella ? --> assegnando una width alla riga che deve occupare una quantità diversa

5-Come avere una riga di colore continuato e come far andare a capo in una casella il testo lungo ? --> border-spacing: 0px; */